@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import "../../../../variables.scss";

mat-card{
  width: 94%;
  margin: 10px 0 10px 10px;
  background: mat.get-color-from-palette($accentPalette);
}

form mat-form-field{
  width: 100%;
}
img { width: 50px; height: 50px; }

table {
  cursor: pointer;
  width: 100%;
}
tr:hover {
  background: mat.get-color-from-palette($tableHoverColor);
}

.mat-card-in-grid{
  width: 95%;
  background-color: #ffffff;
}

.mat-grid-tile{
  height: 330px !important;
}

.action-button{
  float: right;
}
.footer {
  width: 100%;
  text-align: right;
}

.table-view {
  max-height: 400px;
}

.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  min-width: 200px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.search-field {
  width: 25px;
  float: right;
}
