.mat-card{
  width: 44%;
  float: left;
  text-align: center;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 15px;
}
.col-2{
  text-align: left !important;
}

img{
  height: 100px;
  width: 100px;
}
